{% extends 'advice/hero/hero_base.html' %}
{% load static %}

{% block jumbo_classes %} nilo-yellow-bg {% endblock jumbo_classes %}

{% block lead_paragraph %}
A Studio Nilo crediamo che i <strong>siti web</strong> non servano solo a fare bella figura: sono uno <strong>strumento
    commerciale</strong> indispensabile per il tuo business.
{% endblock lead_paragraph %}


{% block hero_btn %}
<button class="w-auto" data-toggle="modal" data-target="#modal-website" type="button">Richiedi un preventivo</button>
{% endblock hero_btn %}