{% load static %}
{% block projects %}
<div class="nilo-jumbo-container min-vh-100-or-4rem nilo-gray-bg flex-column px-0">
    <!-- Desktop -->
    <div class="nilo-projects w-100 overflow-hidden d-none d-md-block">
        {% include 'makesite/projects/slides_desktop/project_sushi.html' %}
        {% include 'makesite/projects/slides_desktop/project_teeth.html' %}
        {% include 'makesite/projects/slides_desktop/project_hair.html' %}
    </div>
    <!-- Mobile -->
    <div class="nilo-projects w-100 overflow-hidden d-block d-md-none">
        {% include 'makesite/projects/slides_mobile/project_sushi.html' %}
        {% include 'makesite/projects/slides_mobile/project_teeth.html' %}
        {% include 'makesite/projects/slides_mobile/project_hair.html' %}
    </div>
</div>
{% endblock projects %}