{% block modal_form %}
<form action="#" class="nilo-form">

    {% if form_hidden_value == 'website' or form_hidden_value == 'managing' %}
    Qual è il tuo nome o quello della tua attività? <span class="nilo-error-msg nilo-error-name">Devi inserire il
        tuo nome o quello della tua attività</span><br>
    {% else %}
    Qual è il nome della tua attività? <span class="nilo-error-msg nilo-error-name">Devi inserire il
        nome della tua attività</span><br>
    {% endif %}
    <input type="text" name="name" placeholder="es. Esempio srl">



    {% if form_hidden_value == 'videocall' or form_hidden_value == 'website' or form_hidden_value == 'managing' %}
    <br>A quale indirizzo mail desideri essere ricontattato?
    {% elif form_hidden_value == 'videoreport' %}
    <br>A quale indirizzo mail desideri ricevere il video-report?
    {% else %}
    <br>A quale indirizzo mail desideri ricevere il video-report?
    {% endif %}

    <span class="nilo-error-msg nilo-error-email">Indirizzo email non valido</span><br>

    <input type="text" name="email" placeholder="es. esempio@mail.com">

    <div class="{% if hide_link %} d-none {% endif %}">
        <br>Se avete un sito internet, inseriscine qui il link <span class="nilo-error-msg nilo-error-website">Link non
            valido</span><br>
        <input type="text" name="website" placeholder="es. https://www.esempio.it/">
    </div>

    {% if form_hidden_value %}
    <input type="hidden" name="plan" value="{{ form_hidden_value }}">
    {% else %}
    <input type="hidden" name="plan" value="popup_pay_1">
    {% endif %}

    <div class="{% if hide_pills %} d-none {% endif %}">
        <br>Su quali social network siete presenti?<br>
        <div class="nilo-pill" name="sn_facebook">Facebook</div>
        <div class="nilo-pill" name="sn_instagram">Instagram</div>
        <div class="nilo-pill" name="sn_twitter">Twitter</div>
        <div class="nilo-pill" name="sn_tiktok">Tiktok</div>
        <div class="nilo-pill" name="sn_linkedin">Linkedin</div>
        <div class="nilo-pill" name="sn_snapchat">Snapchat</div>
        <div class="nilo-pill" name="sn_pinterest">Pinterest</div>
    </div>

</form>
{% endblock modal_form %}