{% extends 'advice/popup/components/modal_base.html' %}
{% load static %}

{% block modal_id %}modal-videocall{% endblock modal_id %}

{% block modal_labelledby %}modal-videocall{% endblock modal_labelledby %}


{% block modal_content %}
<div class="tab-content" id="modal_tab_videocall">
    <div class="tab-pane show active" id="modal_tab_videocall_1" role="tabpanel">
        {% include 'advice/popup/tabs/modal_tab_videocall_1.html' %}
    </div>
    <div class="tab-pane" id="modal_tab_videocall_2" role="tabpanel">
        {% include 'advice/popup/tabs/modal_tab_videocall_2.html' %}
    </div>
    <div class="tab-pane" id="modal_tab_videocall_3" role="tabpanel">
        {% include 'advice/popup/tabs/modal_tab_videocall_3.html' %}
    </div>
    <div class="tab-pane" id="modal_tab_videocall_4" role="tabpanel">
        {% include 'advice/popup/tabs/modal_tab_videocall_4.html' %}
    </div>
    <div class="tab-pane" id="modal_tab_videocall_5" role="tabpanel">
        {% include 'advice/popup/tabs/modal_tab_videocall_5.html' %}
    </div>
</div>
{% endblock modal_content %}