venv
.vscode
studionilo_website/studionilo_website/keychain.py
studionilo_website/advice/__pycache__/__init__.cpython-37.pyc
studionilo_website/advice/__pycache__/admin.cpython-37.pyc
studionilo_website/advice/__pycache__/apps.cpython-37.pyc
studionilo_website/advice/__pycache__/models.cpython-37.pyc
studionilo_website/advice/__pycache__/niloemail.cpython-37.pyc
studionilo_website/advice/__pycache__/urls.cpython-37.pyc
studionilo_website/advice/__pycache__/views.cpython-37.pyc
studionilo_website/advice/migrations/__pycache__/0001_initial.cpython-37.pyc
studionilo_website/advice/migrations/__pycache__/0002_auto_20200226_1135.cpython-37.pyc
studionilo_website/advice/migrations/__pycache__/0003_paymentintent_done.cpython-37.pyc
studionilo_website/advice/migrations/__pycache__/0004_auto_20200226_1236.cpython-37.pyc
studionilo_website/advice/migrations/__pycache__/__init__.cpython-37.pyc
studionilo_website/makesite/__pycache__/__init__.cpython-37.pyc
studionilo_website/makesite/__pycache__/admin.cpython-37.pyc
studionilo_website/makesite/__pycache__/apps.cpython-37.pyc
studionilo_website/makesite/__pycache__/models.cpython-37.pyc
studionilo_website/makesite/__pycache__/urls.cpython-37.pyc
studionilo_website/makesite/__pycache__/views.cpython-37.pyc
studionilo_website/makesite/migrations/__pycache__/__init__.cpython-37.pyc
studionilo_website/studionilo_website/__pycache__/urls.cpython-37.pyc
studionilo_website/studionilo_website/__pycache__/settings.cpython-37.pyc
studionilo_website/studionilo_website/__pycache__/urls.cpython-37.pyc
studionilo_website/studionilo_website/__pycache__/settings.cpython-37.pyc
