
{% load static %}
{% block whatwedo %}
<div class="nilo-jumbo-container min-vh-100-or-4rem nilo-blue-bg">
    <div class="nilo-container w-100">
        <div class="d-flex justify-content-between flex-column flex-md-row">
            <div class="w-100 w-md-25">
                <div>
                    <img class="w-75 w-md-100" src="{% static 'advice/illustrazioni/1.png' %}">
                </div>
                <div>
                    <h1 class="font-weight-bold nilo-font-size-1-3rem">Progettazione dell'immagine</h1>
                    <p class="nilo-font-size-1rem">
                        Curiamo l’immagine che dai ai tuoi clienti online, mostrandoti all’altezza delle loro aspettative.
                    </p>
                </div>
            </div>
            <div class="w-100 w-md-25">
                <div>
                    <img class="w-75 w-md-100" src="{% static 'advice/illustrazioni/2.png' %}">
                </div>
                <div>
                    <h1 class="font-weight-bold nilo-font-size-1-3rem">Realizzazione siti web</h1>
                    <p class="nilo-font-size-1rem">
                        I tuoi clienti ti cercheranno su Google: realizziamo siti web che convertono questo interesse in profitto.
                    </p>
                </div>
            </div>
            <div class="w-100 w-md-25">
                <div>
                    <img class="w-75 w-md-100" src="{% static 'advice/illustrazioni/3.png' %}">
                </div>
                <div>
                    <h1 class="font-weight-bold nilo-font-size-1-3rem">Gestione dei social</h1>
                    <p class="nilo-font-size-1rem">
                        Mostriamo sui social il lato migliore della tua attività, ricordando ai tuoi clienti perché sei importante per loro.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock whatwedo %}
    