
{% load static %}
{% block whatwedo %}
<div class="nilo-jumbo-container min-vh-100 nilo-deep-blue-bg">
    <div class="nilo-container w-100">
        <div class="d-flex justify-content-between">
            <div class="w-25">
                <div>
                    <img class="w-100" src="{% static 'advice/illustrazioni/1.png' %}">
                </div>
                <div>
                    <h1 class="font-weight-bold nilo-font-size-1-8rem">Progettazione dell'immagine</h1>
                    <p class="nilo-font-size-1rem">
                        Curiamo l’immagine che dai ai tuoi clienti online, mostrandoti all’altezza delle loro aspettative.
                    </p>
                </div>
            </div>
            <div class="w-25">
                <div>
                    <img class="w-100" src="{% static 'advice/illustrazioni/2.png' %}">
                </div>
                <div>
                    <h1 class="font-weight-bold nilo-font-size-1-8rem">Realizzazione<br>siti web</h1>
                    <p class="nilo-font-size-1rem">
                        I tuoi clienti ti cercheranno su Google: realizziamo siti web che convertono questo interesse in profitto.
                    </p>
                </div>
            </div>
            <div class="w-25">
                <div>
                    <img class="w-100" src="{% static 'advice/illustrazioni/3.png' %}">
                </div>
                <div>
                    <h1 class="font-weight-bold nilo-font-size-1-8rem">Gestione<br>dei social</h1>
                    <p class="nilo-font-size-1rem">
                        Mostriamo sui social il lato migliore della tua attività, ricordando ai tuoi clienti perché sei importante per loro.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock whatwedo %}
    