<div class="nilo-jumbo-container min-vh-100-or-4rem">
    <div class="nilo-container w-100 mb-n2">
        
        {% comment %}
        <h3>
        {% block showreel_title %}{% endblock showreel_title %}
        </h3>
        {% endcomment %}
            
        <video title="showreel" class="outline-transparent db w-100"
            poster="" playsinline="" preload="auto" controls="true" src="{% block showreel_url %}{% endblock showreel_url %}">
        </video>
        <video title="showreel" class="outline-transparent db w-100"
            poster="" playsinline="true" preload="auto" controls="" src="{% block showreel_url_2 %}{% endblock showreel_url_2 %}">
        </video>
        <video title="showreel" class="outline-transparent db w-100"
        poster="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ef/This_visualization_shows_what_Einstein_envisioned.jpg/1024px-This_visualization_shows_what_Einstein_envisioned.jpg" playsinline="" preload="auto" controls="" src="{% block showreel_url_3 %}{% endblock showreel_url_3 %}">
    </video>
    <video title="showreel" class="outline-transparent db w-100"
        poster="" playsinline="true" preload="auto" controls="" src="{% block showreel_url_4 %}{% endblock showreel_url_4 %}">
    </video>
    <video title="showreel" class="outline-transparent db w-100"
        poster="" playsinline="true" preload="auto" controls="true" src="{% block showreel_url_5 %}{% endblock showreel_url_5 %}">
    </video>
    </div>
</div>