<div class="nilo-jumbo-container min-vh-100-or-4rem">
    <div class="nilo-container w-100 mb-n2">
        
        {% comment %}
        <h3>
        {% block showreel_title %}{% endblock showreel_title %}
        </h3>
        {% endcomment %}
            
        <video title="showreel" class="outline-transparent db w-100"
            poster="{% block showreel_poster %}{% endblock showreel_poster %}" playsinline="true" preload="metadata" controls="true" src="{% block showreel_url %}{% endblock showreel_url %}">
        </video>
    </div>
</div>