{% block pay_row_collapsable_gain_3 %}
<td valign="top" {% if column %} class="{{ column }}" {% endif %}>
    <div class="wrapper">
        <ul class="nilo-gains-list mt-3 mb-4">
            <li>Consulenza personalizzata sulla tua presenza digitale.</li>
            <li>Analisi e ridefinizione della tua strategia comunicativa.</li>
            <li>Progettazione e produzione di contenuti visivi digitali su base settimanale per
                gli account social della tua azienda.</li>
            <li>Colloqui periodici di aggiornamento.</li>
        </ul>
    </div>
</td>
{% endblock pay_row_collapsable_gain_3 %}