{% extends "home/email_base.html" %} {% block content %}
Gentile cliente,<br>
<br>
abbiamo ricevuto la tua prenotazione per un video-colloquio strategico sulla tua presenza digitale e non vediamo
l'ora di discutere insieme di come potresti ottenere più profitto dal tuo sito e dai tuoi canali social.
Un esperto del nostro team ti ricontatterà presto per concordare data e ora della vostra videochiamata.
<br><br>
Nota:<br>
I servizi gratuiti che utilizziamo per i nostri video-colloqui sono
<a class="nilo-link" href="https://www.skype.com/it/get-skype/download-skype-for-desktop/">Skype</a>,
<a class="nilo-link" href="https://hangouts.google.com/">Google Hangouts</a> e
<a class="nilo-link" href="https://slack.com/intl/en-it/downloads/windows">Slack (Windows)</a>,
<a class="nilo-link" href="https://slack.com/intl/en-it/help/articles/207677868-Download-Slack-for-Mac">Slack
    (Mac)</a><br>
Assicurati di avere accesso ad almeno uno di essi prima della data del nostro video-colloquio.<br>
<br>
Nel frattempo, perscruteremo accuratamente il tuo sito e i tuoi canali social, in maniera da comprendere lo stato
attuale della tua comunicazione digitale.<br>
<br>
A presto!<br>
Il team di Studionilo<br>
<br>

<span class="nilo-muted">
________<br>
Se non sei stato tu a prenotare il video-colloquio, segnalacelo a
<a class="nilo-link" href="mailto:info@studionilo.it">info@studionilo.it</a>
</span>
{% endblock content %}