{% extends 'home/base.html' %}{% block body_contents %}
<a id="homepage"></a>

<!-- Popup -->
{% include 'home/popup/popup.html' %}

<!-- NavBar -->
{% include 'home/nav_bar/nav_bar.html' %}

<!-- Splash screen -->
{% include 'home/hero/hero.html' %}

<!-- Presenza digitale -->
{% include 'home/digital_presence/digital_presence.html' %}

<!-- Text middle -->
{% include 'home/splash_screen/splash_screen.html' %}

<!-- Payment cards -->
{% include 'home/pay_cards/pay_cards.html' %}

<!-- FAQ -->
{% include 'home/faq/faq.html' %}

{% endblock body_contents %}
    