{% extends 'advice/popup/components/modal_content_base.html' %}
{% load static %}

{% block modal_title %}Raccontaci di voi{% endblock modal_title %}

{% block modal_body %}
<div class="row row-cols-1 row-cols-lg-2 h-100 mr-0">
    <div class="col pr-2">
        <div class="pb-4">
            Presentandoti, ci permetterai di ispezionare accuratamente i principali canali con i
            quali ti comunichi su internet.
            {% include 'advice/popup/components/modal_form.html' %}
            <!-- <div class="nilo-vertical-spacer"></div> -->
        </div>
    </div>
    <div class="col pl-2 nilo-popup-monkey">
        <img src="{% static 'advice/illustrazioni/form.png' %}" alt="Inserisci i tuoi dati">
    </div>
</div>
{% endblock modal_body %}

{% block modal_footer %}
<ul class="nav justify-content-end w-100" id="myTab2" role="tablist">
    <li class="nav-item nilo-modal-footer-button">
        <a class="nilo-btn nilo-button-muted nilo-autoremove-active-show" data-toggle="tab" href="#modal_tab_videoreport_1" role="tab">Indietro</a>
    </li>
    <li class="nav-item nilo-modal-footer-button">
        <a class="nilo-btn nilo-autoremove-active-show nilo-form-validation" data-toggle="tab" href="#modal_tab_videoreport_3" role="tab" data-nilo-stay="#nilo-videoreport-back">Invia modulo</a>
    </li>
</ul>
{% endblock modal_footer %}