{% load static %}
{% block popup_pay_tab_info %}
<div class="nilo-tab active" id="popup_pay_tab_info">
    <div class="nilo-popup-title">
        <div>
            <div class="popup_pay_1">
                <p>Video-report</p>
            </div>
            <div class="popup_pay_2">
                <p>Video-colloquio</p>
            </div>
            <div class="popup_pay_3">
                <p>Social media managing</p>
            </div>
            {% include 'advice/popup/components/popup_close_btn.html' %}
        </div>
        <hr>
    </div>
    <div class="nilo-popup-body">
        <div class="nilo-card-2 pr-2">
            <div class="popup_pay_1">
                Il video-report è uno strumento per aiutarti a sfruttare meglio la comunicazione digitale per la tua
                attività.
                <ul>
                    <li>
                        Uno dei nostri esperti analizzerà il materiale online presente
                        sulla tua azienda, diagnosticando eventuali problematiche e
                        individuando opportunità di miglioramento.
                    </li>
                    <li>
                        Riceverai entro 4 giorni lavorativi un video della durata
                        di 10-15 minuti, in cui saranno raccolte le nostre proposte per
                        migliorare la comunicazione online con i tuoi clienti.
                    </li>
                </ul>
                Non vediamo l’ora di proporti come ottenere più profitto dalla tua presenza digitale!
            </div>
            <div class="popup_pay_2">
                Il video-colloquio è un momento di confronto per aiutarti a sfruttare meglio la comunicazione digitale
                per la tua attività.
                <ul>
                    <li>
                        Per prima cosa uno dei nostri esperti analizzerà il materiale
                        online presente sulla tua azienda
                    </li>
                    <li>
                        Alcuni giorni dopo, ad un orario concordato insieme, terrete una
                        videochiamata della durata di 30-45 minuti, in cui discuterete
                        di come ottenere più profitto dalla tua presenza digitale.
                    </li>
                </ul>
                Non vediamo l’ora di parlare con te della tua presenza digitale!
            </div>
            <div class="popup_pay_3">
                Il nostro piano di social media managing è un servizio che ti permette di affidare a noi la tua presenza digitale, con l’obiettivo di convertire in clienti quanti più utenti possibili del tuo sito e dei tuoi canali social.
                <ul>
                    <li>
                        Per iniziare concorderemo un video-colloquio conoscitivo (senza impegno), in cui ti sottoporremo a una serie di domande per comprendere o ridefinire la tua strategia comunicativa.
                        Dopo di ciò potrai decidere se questo piano fa per te.
                    </li>
                    <li>
                        Concorderemo insieme un piano d’azione per la tua presenza sui social, progettando quali tipi di contenuti realizzeremo ogni settimana per la tua azienda.
                    </li>
                    <li>
                        Se ne hai uno, testeremo l’efficacia del tuo sito, riprogettando le parti che non si dimostrano ottimali.
                    </li>
                    <li>
                        Terremo video-colloqui (o una telefonate) periodiche per concordare il materiale comunicativo di ogni settimana, che produrremo e ti consegneremo entro pochi giorni.
                    </li>
                    <li>
                        Verificheremo periodicamente l’efficacia delle scelte prese insieme, con attenzione ai risultati, in maniera che il costo del nostro servizio si ripaghi da sé il prima possibile.
                    </li>
                </ul>
                Presentaci la tua azienda, non vediamo l’ora di parlare con te della tua strategia comunicativa.
                <div class="nilo-vertical-spacer"></div>
            </div>
        </div>
        <div class="nilo-card-2 pl-2 nilo-popup-monkey">
            <div class="popup_pay_1">
                <img src="{% static 'advice/illustrazioni/video_report.png' %}" alt="Video-report">
            </div>
            <div class="popup_pay_2">
                <img src="{% static 'advice/illustrazioni/video_colloquio.png' %}" alt="Video-colloquio">
            </div>
            <div class="popup_pay_3">
                <img src="{% static 'advice/illustrazioni/media_manager.png' %}" alt="Social media manager">
            </div>
        </div>
    </div>
    <div class="nilo-popup-footer">
        {% include 'advice/popup/components/popup_dots_1.html' %}
        <div class="nilo-popup-footer-buttons">
            <hr>
            <div class="nilo-flex-footer-order">
                <button type="button" class="nilo-popup-footer-button nilo-button-muted" onclick="close_popup()">Torna
                    alla home</button>
                <button class="nilo-popup-footer-button" type="button" data-target="popup_pay_tab_form">Raccontaci di
                    te</button>
            </div>
        </div>
    </div>
</div>
{% endblock popup_pay_tab_info %}