{% load static %}
{% block popup_pay_tab_tailored %}
<div class="nilo-tab active" id="popup_pay_tab_tailored">
    <div class="nilo-popup-title">
        <div>
            <p>Piano su misura</p>
            {% include 'advice/popup/components/popup_close_btn.html' %}
        </div>
        <hr>
    </div>
    <div class="nilo-popup-body">
        <div class="nilo-card-2 pr-2">
            <div class="">
                Raccontaci dei tuoi obiettivi comunicativi: pianificheremo insieme una modalità di consulenza personalizzata basata sulle tue specifiche esigenze.<br>
                <br>
                Ecco alcuni esempi di alcuni dei servizi che offriamo per i nostri piani su misura:<br>
                <ul>
                    <li>
                        Workshop in azienda per l’avviamento o la riprogettazione della tua strategia comunicativa.
                    </li>
                    <li>
                        Sessioni periodiche di video-consulenza sulla tua presenza digitale.
                    </li>
                    <li>
                        Cura della presenza digitale aziendale in qualità di social media manager con modalità concordate.
                    </li>
                </ul>
                Non vediamo l’ora di lavorare insieme!<br>
                Scrivici a: <a class="nilo-mail" href="mailto:info@studionilo.it">info@studionilo.it</a><br>

            </div>
        </div>
        <div class="nilo-card-2 pl-2 nilo-popup-monkey">
            <img src="{% static 'advice/illustrazioni/su_misura.png' %}" alt="Piano su misura">
        </div>
    </div>
    <div class="nilo-popup-footer">
        <div class="nilo-popup-footer-buttons">
            <hr>
            <div class="nilo-flex-footer-order">
                <button type="button" class="nilo-popup-footer-button" onclick="close_popup()">Chiudi</button>
            </div>
        </div>
    </div>
</div>
{% endblock popup_pay_tab_tailored %}