{% extends 'advice/base.html' %}{% block body_contents %}
<a id="homepage"></a>

<!-- Popup -->
{% include 'advice/popup/popup.html' %}

<!-- NavBar -->
{% include 'advice/nav_bar/nav_bar.html' %}

<!-- Splash screen -->
{% include 'makesite/hero/hero.html' %}

<!-- Showreel -->
{% include 'makesite/showreel/showreel.html' %}

<!-- What we do -->
{% include 'makesite/whatwedo/whatwedo.html' %}

<!-- Convert -->
{% include 'makesite/convert/convert.html' %}

<!-- Projects -->
{% include 'makesite/projects/projects.html' %}

<!-- Project experiences -->
{% include 'makesite/experiences/experiences.html' %}

<!-- Our services -->
{% include 'makesite/ourservices/ourservices.html' %}

<!-- Goto advice -->
{% include 'makesite/goto_advice/goto_advice.html' %}

{% endblock body_contents %}