{% extends 'advice/base.html' %}{% block body_contents %}
<a id="homepage"></a>

<!-- NavBar -->
{% include 'advice/nav_bar/nav_bar.html' with class='nilo-yellow-bg' link='consulenze' %}

<!-- Splash screen -->
{% include 'makesite/hero/hero.html' %}

<!-- Showreel -->
{% include 'makesite/showreel/showreel.html' %}

<!-- What we do -->
{% include 'makesite/whatwedo/whatwedo.html' %}

<!-- Convert -->
{% include 'makesite/convert/convert.html' %}

<!-- Projects -->
{% include 'makesite/projects/projects.html' %}

<!-- Step by step -->
{% include 'makesite/step_by_step/step_by_step.html' %}

<!-- Our services -->
{% include 'makesite/pay_cards/pay_cards.html' %}

<!-- Goto advice -->
{% include 'makesite/goto_advice/goto_advice.html' %}

{% endblock body_contents %}