{% block digital_presence_mobile_table_2 %}
<!-- Second card -->
<table class="nilo-table bottom transparent">
    <!-- Title -->
    <tr class="nilo-table-card-title nilo-table-duo">
        {% include 'home/digital_presence/components/dp_title_2.html' with column='' %}
    </tr>
    <!-- Images TODO -->
    <tr class="nilo-table-body">
        {% include 'home/digital_presence/components/dp_img_2.html' with column='' %}
    </tr>
    <!-- Content -->
    <tr class="nilo-table-read-more">
        {% include 'home/digital_presence/components/dp_body_2.html' with column='' %}
    </tr>
    <!-- Scopri di più -->
    <!-- <tr class="nilo-read-more-row">
        {% include 'home/digital_presence/components/dp_read_more.html' with column='' %}
    </tr> -->
</table>
{% endblock digital_presence_mobile_table_2 %}