{% block digital_presence_desktop %}
<div class="nilo-desktop nilo-pt-spacer nilo-pt-spacer-bottom">
    <div class="nilo-container nilo-center-vertically">
        <table class="nilo-table">
            <!-- Title -->
            <tr class="nilo-table-card-title nilo-table-duo">
                {% include 'home/digital_presence/components/dp_title_1.html' with column='nilo-col-left' %}
                {% include 'home/digital_presence/components/dp_title_2.html' with column='nilo-col-right' %}
            </tr>
            <!-- Images TODO -->
            <tr class="nilo-table-body">
                {% include 'home/digital_presence/components/dp_img_1.html' with column='nilo-col-left' %}
                {% include 'home/digital_presence/components/dp_img_2.html' with column='nilo-col-right' %}
            </tr>
            <!-- Content -->
            <tr>
                {% include 'home/digital_presence/components/dp_body_1.html' with column='nilo-col-left' %}
                {% include 'home/digital_presence/components/dp_body_2.html' with column='nilo-col-right' %}
            </tr>
        </table>
    </div>
</div>
{% endblock digital_presence_desktop %}