{% block pay_card_desktop %}
<div class="nilo-desktop">
    <table valign="bottom" class="nilo-table">
        <!-- Title -->
        <tr class="nilo-table-title nilo-table-trio">
            {% include 'home/pay_cards/components/pay_row_title_1.html' with column='nilo-col-left'%}
            {% include 'home/pay_cards/components/pay_row_title_2.html' with column='nilo-col-center'%}
            {% include 'home/pay_cards/components/pay_row_title_3.html' with column='nilo-col-right'%}
        </tr>
        <!-- Separator -->
        {% include 'home/pay_cards/components/pay_row_separator_triple.html' %}
        <!-- Prices -->
        <tr class="nilo-table-price">
            {% include 'home/pay_cards/components/pay_row_price_1.html' with column='nilo-col-left'%}
            {% include 'home/pay_cards/components/pay_row_price_2.html' with column='nilo-col-center'%}
            {% include 'home/pay_cards/components/pay_row_price_3.html' with column='nilo-col-right'%}
        </tr>
        <!-- Muted text -->
        <tr class="nilo-table-muted">
            {% include 'home/pay_cards/components/pay_row_single_payment.html' with column='nilo-col-left'%}
            {% include 'home/pay_cards/components/pay_row_single_payment.html' with column='nilo-col-center'%}
            {% include 'home/pay_cards/components/pay_row_recurrent_payment.html' with column='nilo-col-right'%}
        </tr>
        <!-- Monkey images -->
        <tr class="nilo-table-images">
            {% include 'home/pay_cards/components/pay_row_monkey_1.html' with column='nilo-col-left'%}
            {% include 'home/pay_cards/components/pay_row_monkey_2.html' with column='nilo-col-center'%}
            {% include 'home/pay_cards/components/pay_row_monkey_3.html' with column='nilo-col-right'%}
        </tr>
        <!-- Content -->
        <tr class="nilo-table-body">
            {% include 'home/pay_cards/components/pay_row_content_1.html' with column='nilo-col-left'%}
            {% include 'home/pay_cards/components/pay_row_content_2.html' with column='nilo-col-center'%}
            {% include 'home/pay_cards/components/pay_row_content_3.html' with column='nilo-col-right'%}
        </tr>
        <!-- Separator -->
        {% include 'home/pay_cards/components/pay_row_separator_triple.html' %}
        <!-- Title button -->
        <tr class="nilo-table-bold">
            {% include 'home/pay_cards/components/pay_row_colapse_btn.html' with column='nilo-col-left'%}
            {% include 'home/pay_cards/components/pay_row_colapse_btn.html' with column='nilo-col-center'%}
            {% include 'home/pay_cards/components/pay_row_colapse_btn.html' with column='nilo-col-right'%}
        </tr>
        <!-- Collapsable gains -->
        <tr class="nilo-table-gains">
            {% include 'home/pay_cards/components/pay_row_collapsable_gain_1.html' with column='nilo-col-left'%}
            {% include 'home/pay_cards/components/pay_row_collapsable_gain_2.html' with column='nilo-col-center'%}
            {% include 'home/pay_cards/components/pay_row_collapsable_gain_3.html' with column='nilo-col-right'%}
        </tr>
        <!-- Buttons -->
        <tr class="nilo-table-btn">
            {% include 'home/pay_cards/components/pay_row_button_1.html' with column='nilo-col-left'%}
            {% include 'home/pay_cards/components/pay_row_button_2.html' with column='nilo-col-center'%}
            {% include 'home/pay_cards/components/pay_row_button_3.html' with column='nilo-col-right'%}
        </tr>
    </table>
</div>
{% endblock pay_card_desktop %}