{% extends 'advice/base.html' %}{% block body_contents %}
<a id="homepage"></a>

<!-- NavBar -->
{% include 'advice/nav_bar/nav_bar.html' with class='nilo-blue-bg' link='progettazione' %}

<!-- Hero -->
{% include 'advice/hero/hero.html' %}

<!-- Showreel -->
{% include 'advice/showreel/showreel.html' %}

<!-- Splashscreen -->
{% include 'advice/splash_screen/splash_screen.html' %}

<!-- Splashscreen -->
{% include 'advice/image_side_txt/remember.html' %}

<!-- Payment cards -->
{% include 'advice/pay_cards/pay_cards.html' %}

<!-- FAQ -->
{% include 'advice/faq/faq.html' %}

<!-- Goto makesite -->
{% include 'advice/goto_makesite/goto_makesite.html' %}

{% endblock body_contents %}


{% block script %}
{% if awesome %}
<script>
var modal = '{{ awesome }}'
if(modal == 'videocall'){
    $('#modal-videocall').modal('show')
    $('#nilo-videocall-next').tab('show')
}
</script>
{% endif %}

{% if reject %}
<script>
    var modal = '{{ reject }}'
    if(modal == 'videocall'){
        $('#modal-videocall').modal('show')
        $('#nilo-videocall-fail').tab('show')
    }
</script>
{% endif %}
{% endblock script %}