{% extends "advice/email_base.html" %} {% block content %}
Gentile cliente,<br>
<br>
abbiamo ricevuto la tua prenotazione per un video-report sulla tua presenza digitale, in cui analizzeremo il tuo
sito e i tuoi canali social, in modo da individuare opportunità di comunicare più efficacemente con i tuoi utenti.
Entro alcuni giorni lavorativi riceverai il link al documento. Per inviare i nostri video-report utilizzeremo l'area
riservata del nostro canale YouTube, dal momento che un file di buona qualità sarebbe troppo pesante per l'invio per
mail.<br>
Il video sarà accessibile solo a te, che ne possederai il link. Potrai condividerlo con chi vorrai, oppure
mantenerlo riservato (Studionilo non renderà mai pubblico questo materiale).<br>
Pazienta pochi giorni e riceverai una mail a questo indirizzo, contenente il tuo video-report.<br>
<br>
A presto!<br>
Il team di Studionilo<br>
<br>
<span class="nilo-muted">
________<br>
Se non sei stato tu a prenotare il video-report, segnalacelo a
<a class="nilo-link" href="mailto:info@studionilo.it">info@studionilo.it</a>
</span>
{% endblock content %}