{% block faq_question_3 %}
{% include 'home/pay_cards/components/pay_row_separator_single.html' %}
<tr class="nilo-table-bold">
    {% include 'home/faq/components/faq_colapse_btn.html' with class='nilo-mtb' question='Che tipi di problema/opportunità individuate normalmente nella comunicazione digitale delle aziende?' target='nilo-faq-3' %}
</tr>
<tr class="nilo-table-gains" id="nilo-faq-3">
    {% include 'home/faq/components/faq_collapsable_answer_3.html' %}
</tr>
{% endblock faq_question_3 %}