{% extends 'advice/pay_cards/cards/pay_card_base.html' %}
{% load static %}
{% block card_title %}Video-report gratuito{% endblock card_title %}


{% block card_class %}highlighted{% endblock card_class %}
    

{% block card_body %}
<div class="d-flex justify-content-center align-items-center">
    <img class="w-75" src="{% static 'advice/illustrazioni/card_consulenza_1.png' %}" alt="Video-report">
</div>
<div>
<h1 class="font-weight-bold font-size-4-5rem mb-n1">0<span class="nilo-currency">€</span></h1>
<p class="nilo-text-small-muted mb-4">
    Nessun costo e nessun impegno. <br>
    Scopri nelle nostre FAQ come è possibile.
</p>
</div>
<div>
    <ul class="nilo-gains-list mt-3 mb-2">
        <li>Analisi generale della tua presenza digitale</li>
        <li>Diagnostica errori gravi</li>
        <li>Rilevazione punti di forza</li>
        <li>Proposte di miglioramento</li>
    </ul>
</div>
{% endblock card_body %}

{% block card_footer %}

<div class="nilo-arrow-button py-3 mx-4 font-weight-bold">
    Cos’è un video-report
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 6.1338">
        <title>freccina_contact_piani_su_misura</title>
        <g id="Livello_2" data-name="Livello 2">
            <g id="Livello_2-2" data-name="Livello 2">
                <polygon
                    points="6.702 0 6.19 0.549 8.495 2.691 0 2.691 0 3.441 8.496 3.441 6.19 5.584 6.702 6.134 10 3.067 6.702 0" />
            </g>
        </g>
    </svg>
</div>

<a class="text-center w-100"></a>
<button class="w-100" data-toggle="modal" data-target="#modal-videoreport" type="button">Ottieni video-report gratuito</button>
{% endblock card_footer %}