{% extends 'advice/pay_cards/cards/pay_card_base.html' %}
{% load static %}
{% block card_title %}Video-colloquio{% endblock card_title %}


{% block card_body %}
<div class="d-flex justify-content-center">
    <img class="w-75" src="{% static 'advice/illustrazioni/card_consulenza_2.png' %}" alt="Video-report">
</div>
<div>
    <h1 class="font-weight-bold font-size-4-5rem mb-n1">79<span class="nilo-currency">€</span></h1>
    <p class="nilo-text-small-muted mb-4">
        Pagamento unico per il singolo servizio. <br>
        Non ripetuto nel tempo.
    </p>
</div>
<div>
    <ul class="nilo-gains-list mt-3 mb-2">
        <li>Analisi generale della tua presenza digitale</li>
        <li>Diagnostica errori gravi</li>
        <li>Rilevazione punti di forza</li>
        <li>Dialogo conoscitivo</li>
        <li>Test della strategia comunicativa attraverso un percorso a domande</li>
        <li>Proposta di soluzioni e di nuove opportunità.</li>
    </ul>
</div>
{% endblock card_body %}

{% block card_footer %}

<div class="nilo-arrow-button py-3 mx-4 font-weight-bold">
    Cos’è un video-colloquio
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 6.1338">
        <title>freccina_contact_piani_su_misura</title>
        <g id="Livello_2" data-name="Livello 2">
            <g id="Livello_2-2" data-name="Livello 2">
                <polygon
                    points="6.702 0 6.19 0.549 8.495 2.691 0 2.691 0 3.441 8.496 3.441 6.19 5.584 6.702 6.134 10 3.067 6.702 0" />
            </g>
        </g>
    </svg>
</div>

<a class="text-center w-100"></a>
<button class="w-100" data-toggle="modal" data-target="#modal-videocall" type="button">Scopri di più</button>
{% endblock card_footer %}