{% load static %}
{% block step_by_step %}
<div class="nilo-jumbo-container min-vh-100-or-4rem">
    <div class="nilo-container overflow-x-hidden">
        <div class="font-weight-bold nilo-font-size-1-8rem mb-5">Il nostro processo di progettazione</div>
        <div class="row row-cols-1 row-cols-md-3 mx-0">
            {% include 'makesite/step_by_step/step_1.html' %}
            {% include 'makesite/step_by_step/step_2.html' %}
            {% include 'makesite/step_by_step/step_3.html' %}
            {% include 'makesite/step_by_step/step_4.html' %}
            {% include 'makesite/step_by_step/step_5.html' %}               
        </div>
    </div>
</div>
{% endblock step_by_step %}