
{% block splash_screen %}
<div class="nilo-jumbo-container min-vh-100 nilo-red-bg">
    <div class="nilo-container nilo-center-vertically">
        <p class="nilo-lead-paragraph">Spesso, azzeccare alcune scelte comunicative può fare la differenza. Abbiamo
            pensato un sistema di <strong>consulenza veloce</strong> adatto a chi comprende l’importanza del sapersi
            comunicare e sta
            cercando qualche consiglio per farlo al meglio.</p>
    </div>
</div>
{% endblock splash_screen %}
    