{% block footer %}
<footer class="text-center">
    <div class="nilo-center-vertically">
        <p>studionilo 2020 |
            <a href="https://www.iubenda.com/privacy-policy/87991730" class="nilo-policy" title="Privacy Policy "
                target="_blank">Privacy Policy</a>
            |
            <a href="https://www.iubenda.com/privacy-policy/87991730/cookie-policy" class="nilo-policy"
                title="Cookie Policy " target="_blank">Cookie Policy</a>
            |
            <a href="https://www.iubenda.com/termini-e-condizioni/87991730" class="nilo-policy"
                title="Termini e Condizioni " target="_blank">Termini e Condizioni</a>
        </p>
    </div>
</footer>
{% endblock footer %}