$color-red: #f76054;
$color-red-hover: #dd4a43;
$color-gray: #f2f2f2;
$color-unknown-gray: #e6e6e6;
$color-dark-gray: #c6c6c6;
$color-orange: #e54c45;
$color-yellow: rgb(255, 221, 0);
$color-blue: #c6e8e9;
$color-deep-blue: #93c5c5;

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  font-family: "Karla", sans-serif;
}

.nilo-red-bg {
  background-color: $color-red;
}

.nilo-blue-bg {
  background-color: $color-blue;
}

.nilo-deep-blue-bg {
  background-color: $color-deep-blue;
}

.nilo-yellow-bg {
  background-color: $color-yellow;
}

.nilo-blur-bg {
  background-color: rgba(207, 207, 207, 0.65);
}

.nilo-gray-bg {
  background-color: $color-gray;
}

.nilo-w-25 {
  width: 2.5em;
}

.nilo-mr-044 {
  margin-right: 0.44em;
}

.nilo-font-size-1-8rem {
  font-size: 1.8rem;
}
.nilo-font-size-1-4rem {
  font-size: 1.4rem;
}
.nilo-font-size-1rem {
  font-size: 1rem;
}
.opacity-0 {
  opacity: 0;
}

.overflow-x-hidden {
  overflow-x: hidden !important;
}

.pt-2-3rem {
  padding-top: 2.3rem !important;
}


.pr-10 {
  padding-right: 6rem !important;
}

.py-6 {
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
}

.px-6 {
  padding-left: 5rem !important;
  padding-right: 5rem !important;
}

.p-2-5rem {
  padding: 2.5rem;
}

.vh-22 {
  height: 22vh;
}

.vh-50 {
  height: 50vh;
}

.vh-70 {
  height: 70vh;
}

.vh-80 {
  height: 80vh;
}

.min-vh-100 {
  min-height: 100vh;
}

.w-1-4rem {
  width: 1.4rem;
}

.w-100-6rem {
  width: calc(100% - 6rem);
}

.mt-2rem {
  margin-top: 2rem !important;
}

.my-6rem {
  margin-top: 6rem !important;
  margin-bottom: 6rem !important;
}

.max-w-760px {
  max-width: 760px !important;
}

.nilo-container-width {
  width: 70%;
}

.left-0 {
  left: 0px;
}

.top-0 {
  top: 0px;
}

.border-dark-gray {
  border-color: $color-dark-gray;
}

.border-black {
  border-color: black;
}

.text-black {
  color: black;
}

.text-blue {
  color: $color-deep-blue
}

.nilo-nav {
  width: 100%;
  position: fixed;
  list-style: none;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 5%;
  padding-right: 5%;
  background-color: $color-blue;
  display: flex;
  flex-direction: column;
  z-index: 7;
}

.nilo-nav a {
  color: inherit;
  text-decoration: none;
}

.nilo-nav-item-logo {
  position: relative;
  font-size: 22px;
}
a:focus {
  opacity: 0.7;
  outline: 0;
}

.nilo-nav-item {
  position: relative;
  font-size: 18px;
  display: flex;
  margin-top: 0.5em;
}

.nilo-nav-item > div {
  cursor: pointer;
  margin-right: 2em;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.nilo-nav-item > div:hover {
  color: black;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.nilo-nav-item > div:hover svg {
  color: black;
  opacity: 1;
  animation-name: fade-in-right;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.nilo-nav-item > div svg {
  fill: black;
  opacity: 0;
  height: 0.5em;
}

.nilo-more-services {
  margin-top: 1em;
  width: 100%;
  font-size: 22px;
}

@keyframes fade-in-right {
  from {
    opacity: 0%;
    transform: translateX(-5px);
  }
  to {
    opacity: 100%;
    transform: translateX(0px);
  }
}

@keyframes fade-in {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

/* .nilo-nav-item:hover svg {
    opacity: 100%;
    fill: inherit;
    animation-name: fade-in-right;
    animation-duration: 0.6s;
    animation-fill-mode: forwards;
} */

.nilo-jumbo-container {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1%;
  position: relative;
}

.nilo-container {
  margin-left: 5%;
  margin-right: 5%;
  overflow: auto;
  width: 100%;
}

.max-width {
  width: 100%;
}

.nilo-lead-paragraph {
  font-size: 23px;
}

@keyframes waving-fade {
  from {
    opacity: 40%;
  }
  to {
    opacity: 70%;
  }
}

.nilo-scroll-down-arrow {
  position: absolute;
  top: 92%;
  width: 2em;
  height: 2em;
  /* display: none; */
}
.nilo-scroll-down-arrow > a {
  animation-name: waving-fade;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

.nilo-scroll-down-arrow > a:hover,
.nilo-scroll-down-arrow > a:focus {
  opacity: 0.8;
  animation: none;
  outline: 0;
}

.nilo-card {
  background-color: white;
  padding: 1.5%;
  border-radius: 0px;
  border-width: 0px;
  & > .card-header {
    text-align: center;
    font-weight: bold;
    font-size: 1.4rem;
    background-color: transparent;
  }
  & > .card-body {
    background-color: transparent;
  }
  & > .card-footer {
    padding: 0px;
    background-color: transparent;
  }
}

.nilo-card-title {
  margin-bottom: 2.5%;
  font-size: 18px;
}

.nilo-card-footer {
  margin-top: 2.5%;
  margin-bottom: 2.5%;
  font-size: 18px;
}

.nilo-dots {
  display: inline;
}

.nilo-more {
  display: none;
}

.nilo-read-more-button {
  color: #a3a5a6;
  text-decoration: underline;
  cursor: pointer;
}

.nilo-payments {
  margin-top: 7%;
}

.nilo-payment-title {
  text-align: center;
  padding-top: 2%;
  font-size: 23px;
}

.nilo-currency {
  font-size: 24px;
  font-weight: normal;
}

ul.nilo-gains-list {
  list-style: none;
}

ul.nilo-gains-list > li::before {
  content: "";
  height: 1em;
  width: 1em;
  display: block;
  float: left;
  margin-left: -1.5em;
  margin-top: 3px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  background: url("/static/advice/assets/done.svg");
  background-position: center;
}

.nilo-text-muted {
  color: #bcbec0;
}

.nilo-btn {
  display: inline-block;
}

button,
.nilo-btn {
  width: 100%;
  font-weight: bold;
  font-size: 18px;
  padding-left: 1.3em;
  padding-right: 1.3em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border: none;
  color: white;
  background-color: $color-red;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

button:hover,
button:focus,
.nilo-btn:hover,
.nilo-btn:focus {
  background-color: $color-orange;
  outline: 0;
}

.nilo-btn:hover {
  color: white;
  text-decoration: none;
  background-color: $color-red-hover;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.nilo-button-border {
  color: black;
  font-weight: normal;
  background-color: transparent;
  border: 1px solid;
  border-color: $color-red;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.nilo-button-border:hover,
.nilo-button-border:focus {
  color: white;
  background-color: $color-red-hover;
  border: 1px solid;
  border-color: $color-red-hover;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.nilo-button-muted {
  color: #bcbec0;
  font-weight: normal;
  background-color: transparent;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.nilo-button-muted:hover {
  color: $color-red-hover;
  background-color: transparent;
  font-weight: normal;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.nilo-button-muted.close-btn {
  width: 1.5em;
  height: 1.5em;
  position: relative;
}

.nilo-button-muted.close-btn:before,
.nilo-button-muted.close-btn:after {
  position: absolute;
  top: 0%;
  /* right: 0; */
  /* bottom: 0; */
  left: 0%;
  width: 100%;
  height: 100%;
  padding: 0%;
  content: "";
  display: block;
  background-size: 70% !important;
  background-repeat: no-repeat;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
  background-position: center !important;
}

.nilo-button-muted.close-btn:before {
  background: url("/static/advice/assets/close_popup_normal.svg") no-repeat;
  opacity: 1;
}

.nilo-button-muted.close-btn:after {
  background: url("/static/advice/assets/close_popup_hover.svg") no-repeat;
  opacity: 0;
}

.nilo-button-muted.close-btn:hover:before,
.nilo-button-muted.close-btn.active:before {
  opacity: 0;
}

.nilo-button-muted.close-btn:hover:after,
.nilo-button-muted.close-btn.active:after {
  opacity: 1;
}

.nilo-button-pay-method {
  width: 49.5%;
  color: #b3b3b3;
  min-height: 70px;
  font-weight: normal;
  background-color: transparent;
  border: 2px solid;
  border-color: #b3b3b3;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 100%;
  line-height: 1em;
  position: relative;
}

.nilo-button-pay-method.paypal:before,
.nilo-button-pay-method.paypal:after,
.nilo-button-pay-method.carta:before,
.nilo-button-pay-method.carta:after {
  position: absolute;
  top: 0%;
  /* right: 0; */
  /* bottom: 0; */
  left: 0%;
  width: 100%;
  height: 100%;
  padding: 0%;
  content: "";
  display: block;
  background-size: 60% !important;
  background-repeat: no-repeat;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
  background-position: center !important;
}

.nilo-button-pay-method:hover,
.nilo-button-pay-method:focus,
.nilo-button-pay-method.active {
  color: $color-red;
  border-color: $color-red;
  background-color: transparent;
}

.nilo-button-pay-method.paypal:before {
  background: url("/static/advice/assets/paypal_logo_grigio.svg") no-repeat;
  opacity: 1;
}

.nilo-button-pay-method.paypal:after {
  background: url("/static/advice/assets/paypal_logo_arancio.svg") no-repeat;
  opacity: 0;
}

.nilo-button-pay-method.paypal:hover:before,
.nilo-button-pay-method.paypal.active:before {
  opacity: 0;
}

.nilo-button-pay-method.paypal:hover:after,
.nilo-button-pay-method.paypal.active:after {
  opacity: 1;
}

.nilo-button-pay-method.carta:before {
  background: url("/static/advice/assets/logo_card_off.svg") no-repeat;
  opacity: 1;
}

.nilo-button-pay-method.carta:after {
  background: url("/static/advice/assets/logo_card_on.svg") no-repeat;
  opacity: 0;
}

.nilo-button-pay-method.carta:hover:before,
.nilo-button-pay-method.carta.active:before {
  opacity: 0;
}

.nilo-button-pay-method.carta:hover:after,
.nilo-button-pay-method.carta.active:after {
  opacity: 1;
}

.nilo-button-pay-method > img {
  width: 90%;
}

.nilo-button-pay-method.margin-right {
  margin-right: 1%;
}

footer {
  background-color: $color-gray;
  margin-bottom: 0;
  //   margin-top: 200px;
  padding: 40px;
}

.nilo-deck {
  display: flex;
  width: 100%;
}

table.nilo-table {
  width: 100%;
  margin-top: 10%;
  margin-bottom: 10%;
}

table.nilo-table-faq {
  width: 100%;
  margin-bottom: 5%;
}

table.nilo-table td,
table.nilo-table th {
  background-color: $color-gray;
  padding-left: 7%;
  padding-right: 7%;
  padding-top: 0%;
  padding-bottom: 0%;
}

table.nilo-table.transparent td,
table.nilo-table.transparent th {
  background-color: transparent;
  padding-left: 0%;
  padding-right: 0%;
}

table.nilo-table th {
  padding-top: 2%;
}

table.nilo-table td {
  /* padding-bottom: 2%; */
  /* border-bottom: 15px solid $color-gray; */
}

table.nilo-table.transparent td {
  padding-bottom: 2%;
  border-bottom: 15px solid transparent;
}

tr.nilo-table-gains > td {
  /* Per evitare che rimane lo spazio quando viene effettuato lo slide */
  padding-bottom: 0%;
}

tr.nilo-table-gains > td > div.wrapper {
  display: none;
  padding-bottom: 1em;
}

.nilo-border-red > td,
.nilo-border-red > th {
  border-color: $color-red;
}
.nilo-border-white > td,
.nilo-border-white > th {
  border-color: white;
}

.nilo-col-left {
  border-right-width: 15px;
  border-right-style: solid;
}

.nilo-col-right {
  border-left-width: 15px;
  border-left-style: solid;
}

.nilo-col-center {
  border-right-width: 15px;
  border-left-width: 15px;
  border-right-style: solid;
  border-left-style: solid;
}

table.nilo-table.top {
  margin-top: 20%;
  margin-bottom: 15%;
}

table.nilo-table.bottom {
  margin-top: 15%;
  margin-bottom: 20%;
}

td.nilo-table-collapse-btn {
  cursor: pointer;
}

td.nilo-table-collapse-btn > div {
  display: flex;
  align-items: center;
}

td.nilo-table-collapse-btn img {
  height: 0.8em;
  float: right;
  margin-top: 0.4em;
  margin-right: 0.5em;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

td.nilo-table-collapse-btn img.activated {
  animation-name: rotate-90-clockwise;
}

td.nilo-table-collapse-btn img.deactivated {
  animation-name: rotate-90-counterclockwise;
}

@keyframes rotate-90-clockwise {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(90deg);
  }
}

@keyframes rotate-90-counterclockwise {
  0% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.nilo-shrink {
  margin-top: 0% !important;
  margin-bottom: 0% !important;
  padding-top: 0% !important;
  padding-bottom: 0% !important;
}

tr.nilo-table-separator td {
  padding-bottom: 0%;
  padding-top: 0%;
  border-bottom: 0px;
  border-top: 0px;
}

tr.nilo-table-title > th {
  /* width: 33%; */
  /* margin-bottom: 2.5%;
    margin-top: 2.5%; */
  /* padding: 5%; */
  padding-top: 4%;
  padding-bottom: 4%;
  font-size: 26px;
  text-align: center;
}

tr.nilo-table-body > td {
  padding-bottom: 7%;
}

tr.nilo-table-bold > td {
  padding-top: 7%;
  padding-bottom: 7%;
}

tr.nilo-table-btn > td {
  padding-bottom: 4%;
}

tr.nilo-table-card-title th {
  padding-bottom: 2.5%;
  font-size: 22px;
  font-weight: normal;
  padding-bottom: 1em;
  line-height: 1.4em;
}

table.nilo-table tbody {
  font-size: 18px;
}

tr.nilo-table-trio > th {
  width: 33%;
}

tr.nilo-table-body > td > img {
  width: 100%;
  margin-bottom: -10%;
  margin-top: -10%;
}

tr.nilo-table-images > td > img {
  width: 100%;
}

tr.nilo-table-duo > th {
  width: 50%;
}

tr.nilo-table-price > td {
  font-size: 64px;
  text-align: center;
  font-weight: bold;
}

.nilo-currency {
  font-size: 24px !important;
  font-weight: normal;
}

tr.nilo-table-muted > td {
  color: #bcbec0;
  font-size: 14px;
}

tr.nilo-table-bold > td {
  font-weight: bold;
  font-size: 18px;
}

tr.nilo-table-btn > td {
  margin-bottom: 100px;
}

.nilo-mobile {
  display: block;
}

.nilo-desktop {
  display: none;
}

a.nilo-email {
  color: $color-red;
  text-decoration: none;
}

.nilo-popup {
  background-color: white;
  width: 100%;
  height: 85%;
  overflow: auto;
  padding: 4%;
  position: relative;
  z-index: 9;
}

.nilo-popup-view {
  display: none;
  position: fixed;
  z-index: 8;
}

.nilo-popup hr {
  margin-top: 1.5%;
  margin-bottom: 1.5%;
  width: 100%;
}

.nilo-popup-title {
  font-size: 22px;
  font-weight: bold;
  overflow: auto;
}

.nilo-popup-title p {
  margin: 0px;
  float: left;
}

.nilo-popup-title > div {
  overflow: auto;
  margin-bottom: 0.35em;
}

.nilo-popup-title hr {
  margin-top: 0px;
}

.nilo-popup-title button {
  font-size: 24px;
  font-weight: bold;
  float: right;
  padding: 1px;
  display: flex;
  align-items: center;
  width: auto;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.nilo-popup-title button svg {
  width: 1.5em;
  height: 1.5em;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.nilo-popup-title button:hover svg {
  fill: white;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.nilo-popup-body {
  height: auto;
  display: flex;
  flex-direction: row;
  font-size: 16px;
  overflow: auto;
}

.nilo-popup-body > p {
  font-size: 16px;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding: 0em;
}

/* Hide scrollbar for Chrome, Safari and Opera */

.nilo-popup-body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE and Edge */

.nilo-popup-body {
  -ms-overflow-style: none;
}

.nilo-form {
  width: 100%;
  padding-top: 2em;
  overflow: auto;

  & > input {
    width: 100%;
    font-size: 22px;
    padding-left: 0.3em;
    margin-top: 0.3em;
    margin-bottom: 1em;
    border: 2px solid #b3b3b3;
    border-radius: 0px;
    -webkit-appearance: none;
    &.error {
      border: 2px solid $color-red;
    }
    &:focus {
      border: 2px solid $color-orange;
      outline: 0;
    }
    &::-webkit-input-placeholder,
    &:-ms-input-placeholder,
    &::placeholder {
      color: $color-unknown-gray;
    }
  }
}

ul.nilo-list {
  list-style: none;
  color: #bcbec0;
  li {
    margin-top: 1em;
    &::before {
      content: "\2022";
      color: $color-red;
      font-weight: bold;
      display: inline-block;
      width: 1em;
      margin-left: -1em;
    }
  }
}

.paypal-section,
.card-section,
.bonifico-section {
  display: none;
}

.paypal-section.active,
.card-section.active,
.bonifico-section.active {
  display: contents;
}

.nilo-popup-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

.nilo-popup-footer button {
  width: 100%;
  font-size: 16px;
  float: right;
}

.nilo-popup-footer button.margin-left {
  margin-left: 1%;
}

.nilo-popup-footer-buttons {
  width: 100%;
}

.nilo-test-size {
  position: fixed;
  width: 100%;
  height: 1.5em;
  left: 0%;
  bottom: 0%;
  text-align: right;
  display: none;
  opacity: 50%;
  background-color: #ff0000;
  padding-right: 1em;
  font-weight: bold;
}

#console {
  height: auto;
}

.nilo-test-up-1 {
  bottom: 1.5em;
  display: block;
}

.nilo-test-height {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 10px;
  background-color: yellow;
  opacity: 0.5;
  margin-top: 5px;
  height: 5px;
  z-index: 10;
}

.nilo-card-1 {
  width: 100%;
}

.nilo-home-monkey {
  position: absolute;
  width: 40%;
  max-width: 400px;
  right: 1%;
  bottom: 0%;
  overflow: hidden;
  display: none;
}

.nilo-home-monkey img {
  width: 100%;
  margin-bottom: -13%;
}

.nilo-popup-monkey {
  display: none;
  align-items: center;
}

.nilo-popup-monkey img {
  width: 100%;
  padding-left: 15%;
  padding-right: 15%;
}

.nilo-card-2 {
  width: 100%;
}

.nilo-dots {
  margin-bottom: 0px;
}

.nilo-dot {
  height: 5px;
  width: 5px;
  margin-left: 5px;
  margin-right: 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.nilo-dot.active {
  background-color: $color-red;
}

.nilo-tabs {
  width: 100%;
  height: 100%;
}

.nilo-tab {
  display: none;
}

.nilo-tab.active {
  display: block;
}

.nilo-big-thanks p {
  font-size: 18px;
}

.nilo-big-thanks {
  font-size: 14px;
}

.nilo-big-thanks div > img {
  width: 2em;
  margin-right: 3em;
  margin-bottom: 1em;
}

.nilo-flex-vertical {
  display: flex;
  flex-direction: column;
}

.nilo-flex-vertical-center {
  justify-content: center;
}

.nilo-flex-horizontal {
  display: flex;
  flex-direction: row;
}

.nilo-pill {
  color: #b3b3b3;
  font-weight: normal;
  background-color: transparent;
  border: 2px solid;
  border-color: #b3b3b3;
  float: left;
  margin-right: 0.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin-top: 0.3em;
  font-size: 22px;
  cursor: pointer;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.nilo-pill.active,
.nilo-pill:hover {
  color: $color-red;
  border-color: $color-red;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

/* .nilo-tabs .nilo-popup {
    width: 100%;
    box-sizing: border-box;
} */

#nilo-popup-container {
  // min-height: auto;
}

.nilo-pt-spacer {
  padding-top: 3em;
}

.nilo-pt-spacer-bottom {
  padding-bottom: 3em;
}

.nilo-checkout-info .nilo-checkout-price {
  font-weight: bold;
  font-size: 22px;
}

.nilo-checkout-info .nilo-checkout-price-2 {
  /* font-weight: bold; */
  font-size: 16px;
}

.nilo-checkout-info .nilo-muted {
  color: #a3a3a3;
  font-size: 12px;
  margin-bottom: 1em;
}

.nilo-vertical-spacer {
  height: 3em;
}

.nilo-flex-footer-order {
  display: flex;
  flex-direction: column;
}

.nilo-pb-1 {
  padding-bottom: 1em !important;
}

.nilo-mtb {
  margin-top: 0.7em;
  margin-bottom: 0.7em;
}

.nilo-error-msg {
  color: $color-red;
  display: none;
}

a.nilo-mail {
  color: $color-red;
  text-decoration: none;
}

a.nilo-policy {
  color: inherit;
  text-decoration: underline;
}

.nilo-karla {
  font-family: "Karla", sans-serif !important;
}

/* .no-scroll {
    &, & body {
        overflow: hidden;
    }
    em {
        display: inline;
    }
} */

/* .no-scroll {
    overflow: hidden;
} */

button.nilo-open-popup-button {
  margin-bottom: 4.5%;
}

table.nilo-table-faq td {
  padding-top: 0%;
  padding-bottom: 0%;
}

tr.nilo-table-read-more > td {
  padding-bottom: 1.5em;
}

.nilo-logo-social {
  opacity: 1;
  cursor: pointer;
  :hover {
    opacity: 0.4;
  }
}

.nilo-project-desc {
  opacity: 0;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

.slick-current .nilo-project-desc {
  opacity: 1;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

.slide.slick-slide:focus {
  outline: 0;
}

.aspect-16-9 {
  width: 100%;
  padding-top: 56.25%;
}

.nilo-scrolling-background {
  background-size: 100% auto;
  background-position-y: -3.6%;
  background-repeat: no-repeat;
  -webkit-transition: 2s ease-in-out;
  -moz-transition: 2s ease-in-out;
  -o-transition: 2s ease-in-out;
  transition: 2s ease-in-out;
  -webkit-box-shadow: 7px 7px 10px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 7px 7px 10px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 7px 7px 10px -10px rgba(0, 0, 0, 0.75);
  &:hover {
    // background-position-y: 100%;
    // animation-duration: 10s;
    // animation-name: scroll-down;
    // animation-fill-mode: forwards;
    // -webkit-transition: 10s ease-in-out;
    // -moz-transition: 10s ease-in-out;
    // -o-transition: 10s ease-in-out;
    // transition: 10s ease-in-out;
    // -webkit-animation-duration: 10s;
    // -webkit-animation-name: scroll-down;
    // -webkit-animation-fill-mode: forwards;
  }
}

@keyframes scroll-down {
  0% {
    background-position-y: calc(0% - (100% - 6rem) * 0.039);
  }
  10% {
    background-position-y: 20%;
  }
  20% {
    background-position-y: 20%;
  }
  30% {
    background-position-y: 40%;
  }
  40% {
    background-position-y: 40%;
  }
  50% {
    background-position-y: 60%;
  }
  60% {
    background-position-y: 60%;
  }
  70% {
    background-position-y: 80%;
  }
  80% {
    background-position-y: 80%;
  }
  90% {
    background-position-y: 90%;
  }
  100% {
    background-position-y: 90%;
  }
}

@-webkit-keyframes scroll-down {
  0% {
    background-position-y: calc(0% - (100% - 6rem) * 0.039);
  }
  10% {
    background-position-y: 20%;
  }
  20% {
    background-position-y: 20%;
  }
  30% {
    background-position-y: 40%;
  }
  40% {
    background-position-y: 40%;
  }
  50% {
    background-position-y: 60%;
  }
  60% {
    background-position-y: 60%;
  }
  70% {
    background-position-y: 80%;
  }
  80% {
    background-position-y: 80%;
  }
  90% {
    background-position-y: 90%;
  }
  100% {
    background-position-y: 90%;
  }
}
@keyframes scroll-up {
  0% {
    background-position-y: calc(0% - (100% - 6rem) * 0.039);
  }
  10% {
    background-position-y: 20%;
  }
  20% {
    background-position-y: 20%;
  }
  30% {
    background-position-y: 40%;
  }
  40% {
    background-position-y: 40%;
  }
  50% {
    background-position-y: 60%;
  }
  60% {
    background-position-y: 60%;
  }
  70% {
    background-position-y: 80%;
  }
  80% {
    background-position-y: 80%;
  }
  90% {
    background-position-y: 90%;
  }
  100% {
    background-position-y: 90%;
  }
}

@-webkit-keyframes scroll-up {
  0% {
    background-position-y: calc(0% - (100% - 6rem) * 0.039);
  }
  10% {
    background-position-y: 20%;
  }
  20% {
    background-position-y: 20%;
  }
  30% {
    background-position-y: 40%;
  }
  40% {
    background-position-y: 40%;
  }
  50% {
    background-position-y: 60%;
  }
  60% {
    background-position-y: 60%;
  }
  70% {
    background-position-y: 80%;
  }
  80% {
    background-position-y: 80%;
  }
  90% {
    background-position-y: 90%;
  }
  100% {
    background-position-y: 90%;
  }
}

.nilo-browser-bar {
  position: absolute;
  top: 0px;
  z-index: 1;
}
