<div class="nilo-jumbo-container min-vh-100-or-4rem">
    <div class="nilo-container w-100">
        <div class="row row-cols-2 m-0">
            <div class="col-12 col-md-6 p-md-0">
                {% block side_image %}{% endblock side_image %}
            </div>
            <div class="col-12 col-md-6 d-flex align-items-center p-md-5 pr-md-10">
                <div>
                    <h1 class="font-weight-bold nilo-font-size-1-3rem mb-3">
                        {% block side_title %}{% endblock side_title %}
                    </h1>
                    <p class="nilo-font-size-1rem">
                        {% block side_description %}{% endblock side_description %}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>