<div class="nilo-jumbo-container min-vh-100">
    <div class="nilo-container w-100">
        <div class="row row-cols-2 m-0">
            <div class="col p-0">
                {% block side_image %}{% endblock side_image %}
            </div>
            <div class="col d-flex align-items-center p-5 pr-10">
                <div>
                    <h1 class="font-weight-bold nilo-font-size-1-8rem">
                        {% block side_title %}{% endblock side_title %}
                    </h1>
                    <p class="nilo-font-size-1rem">
                        {% block side_description %}{% endblock side_description %}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>