{% extends 'advice/image_side_txt/image_side_txt.html' %}
{% load static %}

{% block side_image %}
<img class="w-100" src="{% static 'advice/illustrazioni/strategia_comunicativa.png' %}">
{% endblock side_image %}

{% block side_title %}
Ricorda ai tuoi clienti perché sei importante per loro
{% endblock side_title %}

{% block side_description %}
Attraverso i social, la tua impresa può accompagnare i tuoi clienti tutti i giorni. Ti consigliamo come farlo al meglio.
{% endblock side_description %}