{% extends 'makesite/showreel/showreel_base.html' %}
{% load static %}
{% block showreel_title %}Cos’è un video-report?{% endblock showreel_title %}

{% block showreel_url %}{% static 'advice/videos/showreel_temp.mp4' %}{% endblock showreel_url %}
{% block showreel_url_2 %}{% static 'advice/videos/showreel_temp.mp4' %}{% endblock showreel_url_2 %}
{% block showreel_url_3 %}{% static 'advice/videos/showreel_temp.mp4' %}{% endblock showreel_url_3 %}
{% block showreel_url_4 %}https://d33wubrfki0l68.cloudfront.net/cbd5f20cf745fd4b430631d54b033c13de230864/5c655/static/video/home/accurat-showreel.mp4{% endblock showreel_url_4 %}
{% block showreel_url_5 %}https://d33wubrfki0l68.cloudfront.net/cbd5f20cf745fd4b430631d54b033c13de230864/5c655/static/video/home/accurat-showreel.mp4{% endblock showreel_url_5 %}