{% block pay_row_collapsable_answer_5 %}
<td valign="top">
    <div class="wrapper">
        Durante la chiamata ci siamo confrontati: noi abbiamo cercato di
        scoprire quali siano gli aspetti più critici, mentre tu hai avuto
        l’opportunità di rivolgere i tuoi dubbi a un nostro esperto.
        Se curi il tuo sito in prima persona (magari con servizi come
        Google Business o Wix) potrai scegliere di mettere in pratica tu
        stesso i consigli che hai ricevuto.
        In caso contrario, invece, saremo felici di indirizzarti ad alcuni
        professionisti esterni nei quali abbiamo fiducia, che potranno
        aiutarti a raggiungere i tuoi nuovi obiettivi.
    </div>
</td>
{% endblock pay_row_collapsable_answer_5 %}