{% block pay_row_collapsable_answer_8 %}
<td valign="top">
    <div class="wrapper nilo-pb-1">
        Sarà nostra responsabilità professionale quella di non
        condividere mai all’infuori di Studionilo le informazioni di cui
        parleremo insieme.
        Se la tua azienda dispone di documenti di non-divulgazione (NDA)
        puoi inviarceli: sarà nostra premura restituirteli firmati prima di
        fornirti il nostro servizio.
    </div>
</td>
{% endblock pay_row_collapsable_answer_8 %}