{% block pay_row_collapsable_answer_3 %}
<td valign="top">
    <div class="wrapper nilo-pb-1">
        Individiamo diversi tipi di problema/opportunità. È difficile
        generalizzare, ma questi sono alcuni casi:
        - Problemi strategici. Ad esempio il sito di una bar di quartiere
        non può essere pensato solo per l’utilizzo da computer, perché
        moltissimi potenziali clienti stanno cercando dal loro
        smartphone un posto dove andare a pranzo: un sito che non è
        mobile-friendly significa meno ingressi nel locale.
        - Problemi comunicativi. Il sito di un pastificio fiorentino che
        abbiamo analizzato mostrava in grande formato alcune fotografie
        dei loro prodotti. La bassa qualità dell’immagine, scattata con uno
        smartphone, però, rendeva verdognolo il giallo della pastasfoglia,
        facendola apparire appassita e contraffatta. Chissà quanti
        visitatori del sito sono passati oltre — consciamente o
        inconsciamente — per via di quella cattiva foto!
        - Problemi tecnici. Il
    </div>
</td>
{% endblock pay_row_collapsable_answer_3 %}