{% block pay_row_collapsable_answer_6 %}
<td valign="top">
    <div class="wrapper">
        No. Il nostro punto di vista è completamente disinteressato.
        È nostro interesse che il nostro contributo strategico sia il più
        possibile significativo ai fini della qualità della tua
        comunicazione digitale; tuttavia, non ci occupiamo
        operativamente di progettare/modificare siti, né di gestire
        social-network.
        Se, in seguito alla nostra consulenza, deciderai di intraprendere
        dei lavori di miglioramento (ad esempio rifare il tuo sito)
        possiamo indirizzarti verso alcuni professionisti nei quali
        abbiamo fiducia, senza alcuna affiliazione.
    </div>
</td>
{% endblock pay_row_collapsable_answer_6 %}