{% block pay_row_collapsable_answer_7 %}
<td valign="top">
    <div class="wrapper nilo-pb-1">
        Innanzitutto, è normale, poiché crediamo che la comunicazione
        sia uno sforzo che ha bisogno di rinnovamento costante.
        Se qualcosa non è stato chiaro saremo felici di risentirci
        telefonicamente oppure inviarti qualche riga chiarificatrice.
        Invece, se pensi che possa valere la pena di approfondire insieme
        qualche nuovo aspetto, ti consigliamo di richiederci lo step
        successivo dei nostri servizi: se hai ottenuto un video-report
        possiamo rivederlo insieme in un video-colloquio; se hai ottenuto
        un video-colloquio puoi ricontattarci per parlare insieme di quale
        possa essere un piano su misura per te.
    </div>
</td>
{% endblock pay_row_collapsable_answer_7 %}