{% block faq_table %}
<table valign="bottom" class="nilo-table-faq">
    {% include 'advice/faq/faq_question_1.html' %}
    {% include 'advice/faq/faq_question_2.html' %}
    {% include 'advice/faq/faq_question_3.html' %}
    {% include 'advice/faq/faq_question_4.html' %}
    {% include 'advice/faq/faq_question_5.html' %}
    {% include 'advice/faq/faq_question_6.html' %}
    {% include 'advice/faq/faq_question_7.html' %}
    {% include 'advice/pay_cards/components/pay_row_separator_single.html' %}
</table>
{% endblock faq_table %}