{% block faq_question_6 %}
{% include 'advice/pay_cards/components/pay_row_separator_single.html' %}
<tr class="nilo-table-bold">
    {% include 'advice/faq/components/faq_colapse_btn.html' with class='nilo-mtb' question='Che tipi di problema/opportunità individuate normalmente nella comunicazione digitale delle aziende?' target='nilo-faq-6' %}
</tr>
<tr class="nilo-table-gains" id="nilo-faq-6">
    {% include 'advice/faq/components/faq_collapsable_answer_6.html' %}
</tr>
{% endblock faq_question_6 %}