{% block dp_body_1 %}
<td valign="top" class="{{ column }}">
    Perché chiunque oggi è costantemente connesso e in cerca di informazioni. Ciò che mostri online
    della tua azienda è decisivo nel definire la relazione con i tuoi clienti — sia ricorrenti che
    nuovi. Per questa ragione, sul web oggi la tua azienda non può
    sbagliare.<br>
    <span class="nilo-more">
        <br>
        Sempre più persone, prima di rivolgersi alla tua attività faranno una rapida ricerca su
        Google, oppure consulteranno una delle tue pagine social. Formuleranno un giudizio rapido,
        spesso basato sulle sensazioni indotte dalle immagini che proponi, dai testi, dalle
        interazioni.
        <br><br>
        Mentre un sito efficace ti permette di convertire in profitto quell’interesse, le pagine
        social ti offrono un’ulteriore opportunità: quella di ripresentarti periodicamente
        all’attenzione dei tuoi
        clienti, ricordando loro per quali ragioni sei importante per loro.
        <br><br>
        Non è facile! <br>
        Studionilo può aiutarti a farlo meglio; scorri giù per scoprire come.<br>
    </span>
    <span class="nilo-read-more-button" data-orig-txt="Scopri di più" data-alt-txt="Chiudi">Scopri di più</span>
</td>
{% endblock dp_body_1 %}