{% load static %}
{% block hero %}
<div class="nilo-jumbo-container nilo-blue-bg">
    <div class="nilo-home-monkey">
        <img src="{% static 'home/illustrazioni/home.png' %}" alt="Ciao, siamo Lorenzo e Nicola">
    </div>
    <div class="nilo-container">
        <p class="nilo-lead-paragraph">Siamo Nicola e Lorenzo, possiamo aiutarti a consolidare la tua
            <strong>strategia comunicativa</strong> per garantirti una <strong>presenza digitale</strong> efficace.
        </p>
        <button class="nilo-more-services" onclick="window.location.href = '#payment';" type="button">Scopri i
            nostri servizi</button>
    </div>
    <div class="nilo-scroll-down-arrow">
        <a href="#presenza_digitale">
            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 35.3714 8.0029">
                <title>freccia_giu_hero</title>
                <g id="Livello_2" data-name="Livello 2">
                    <g id="Livello_2-2" data-name="Livello 2">
                        <polygon points="17.686 8.003 0 0.929 0.371 0 17.686 6.926 35 0 35.371 0.929 17.686 8.003" />
                    </g>
                </g>
            </svg>
        </a>
    </div>
</div>
{% endblock hero %}