{% load static %}
<div class="nilo-jumbo-container my-6rem">
    <div class="nilo-container {% block goto_class %}{% endblock goto_class %} p-3 py-lg-5 px-lg-6 position-relative">
        <div class="nilo-home-monkey w-25">
            <img src="{% static 'advice/illustrazioni/home.png' %}" alt="Ciao, siamo Lorenzo e Nicola">
        </div>
        <h1 class="font-weight-bold nilo-font-size-1-3rem">
            {% block goto_title %}{% endblock goto_title %}
        </h1>
        <p class="pt-2 pb-0 pb-md-3 max-w-md-30em">
            {% block goto_body %}{% endblock goto_body %}
        </p>
        <div class="pt-4">
            <a class="nilo-btn text-white w-100 w-md-auto" href="{% block goto_link %}{% endblock goto_link %}">
                {% block goto_button %}{% endblock goto_button %}
            </a>
        </div>
    </div>
</div>