{% load static %}
<div class="nilo-jumbo-container my-6rem">
    <div class="nilo-container {% block goto_class %}{% endblock goto_class %} py-5 px-6 nilo-font-size-1-4rem position-relative">
        <div class="nilo-home-monkey w-25">
            <img src="{% static 'advice/illustrazioni/home.png' %}" alt="Ciao, siamo Lorenzo e Nicola">
        </div>
        <div class="font-weight-bold">
            {% block goto_title %}{% endblock goto_title %}
        </div>
        <div class="pt-2 pb-3">
            {% block goto_body %}{% endblock goto_body %}
        </div>
        <div class="pt-4">
            <button type="button" class="w-auto" data-target="popup_pay_tab_form">
                {% block goto_button %}{% endblock goto_button %}
            </button>
        </div>
    </div>
</div>