{% extends 'advice/pay_cards/cards/pay_card_base.html' %}
{% load static %}

{% block card_header_class %}nilo-same-h-01{% endblock card_header_class %}

{% block card_title %}Social media managing{% endblock card_title %}


{% block card_body %}
<div class="d-flex justify-content-center align-items-center">
    <img class="w-100" src="{% static 'advice/illustrazioni/presenza_digitale.png' %}" alt="Video-report">
</div>
<div>
    Cureremo le pagine social della tua attività, producendo contenuti di alta qualità, mirati ad attirare nuovi clienti e ricordare il tuo valore a chi ti conosce già.
</div>
{% endblock card_body %}


{% block card_footer_class %}border-0{% endblock card_footer_class %}
    

{% block card_footer %}
<a class="text-center w-100"></a>
<button class="w-100 nilo-yellow-btn" data-toggle="modal" data-target="#modal-managing" type="button">Richiedi un preventivo</button>
{% endblock card_footer %}