{% block pay_row_collapsable_answer_10 %}
<td valign="top">
    <div class="wrapper">
        Innanzitutto, è normale, poiché crediamo che la comunicazione sia uno sforzo che ha bisogno di rinnovamento
        costante. Se qualcosa non è stato chiaro saremo felici di risentirci telefonicamente oppure inviarti qualche
        riga chiarificatrice. Invece, se pensi che possa valere la pena di approfondire insieme qualche nuovo aspetto,
        confrontiamoci nuovamente per stabilire quali possano essere i prossimi passaggi.
    </div>
</td>
{% endblock pay_row_collapsable_answer_10 %}