{% block pay_row_collapsable_answer_6 %}
<td valign="top">
    <div class="wrapper">
        Individuiamo diversi tipi di problema/opportunità. È difficile generalizzare, ma questi sono alcuni casi:
        <ul style="list-style-type: square;">
            <li>
                Problemi strategici. Ad esempio, il sito di una bar di quartiere non può essere pensato solo per
                l’utilizzo da
                computer, perché moltissimi potenziali clienti stanno cercando dal loro smartphone un posto dove andare
                a
                pranzo: un sito non mobile-friendly significa meno ingressi nel locale.
            </li>
            <li>
                Problemi comunicativi. Il sito di un pastificio fiorentino che abbiamo analizzato mostrava in grande
                formato
                alcune fotografie dei loro prodotti. La bassa qualità dell’immagine, scattata con uno smartphone,
                rendeva
                verdognolo il giallo della pastasfoglia, facendola apparire appassita e contraffatta. Chissà quanti
                visitatori
                del sito sono passati oltre — consciamente o inconsciamente — per via di quella cattiva foto!
            </li>
            <li>
                Problemi tecnici. A Studio Nilo siamo ben aggiornati sulle diverse soluzioni digitali per
                professionisti ed
                attività (ad esempio: video-corsi, video-lezioni, food-delivery, ad targeting, …). Una personal trainer
                milanese
                ci ha contattato per sapere come introdurre un sistema di prenotazione per le sue lezioni online: dopo
                un
                confronto con noi ha potuto implementare da sé tutto il necessario ai suoi canali social.
            </li>
        </ul>



    </div>
</td>
{% endblock pay_row_collapsable_answer_6 %}