{% load static %}
{% block faq_colapse_btn %}
<td valign="top" class="nilo-table-collapse-btn {% if column %}{{ column }}{% endif %}" {% if target %} data-target="{{ target }}" {% endif %}>
    <div class="{% if class %}{{ class }}{% endif %}">
        <div style="width: 100%;">
            {{ question }}
        </div>
        <div class="ml-3">
            <img src="{% static 'advice/assets/freccina_accordion_cosa_otterro.svg' %}">
        </div>
    </div>
</td>
{% endblock faq_colapse_btn %}