{% block pay_row_collapsable_answer_9 %}
<td valign="top">
    <div class="wrapper">
        No. È nostro interesse che il nostro contributo strategico sia il più possibile autonomo e significativo ai fini
        della qualità della tua comunicazione digitale.
        Se, in seguito alla nostra consulenza, deciderai di intraprendere dei lavori di miglioramento, potrai valutare
        se fare da te, richiederci un preventivo o rivolgerti ad altri professionisti.
    </div>
</td>
{% endblock pay_row_collapsable_answer_9 %}