{% block pay_row_collapsable_answer_2 %}
<td valign="top">
    <div class="wrapper">
        Questo servizio è rivolto a coloro che hanno la responsabilità di curare la comunicazione internet della propria azienda/attività. Sappiamo che, specialmente in realtà non molto grandi, chi svolge questo compito lo fa in capo a molte altre mansioni. Il nostro obiettivo è dare un contributo significativo a coloro che non sono specialisti del settore — e che non hanno accesso costante all’opera di un professionista. Le realtà con cui lavoriamo solitamente sono piccole (ad esempio negozianti, ristoratori, liberi professionisti) o medie (ad esempio aziende familiari, piccole manifatture, aziende di servizi).
    </div>
</td>
{% endblock pay_row_collapsable_answer_2 %}