{% block pay_row_collapsable_answer_4 %}
<td valign="top">
    <div class="wrapper">
        Il video-report è per noi uno strumento per avviare un dialogo con la tua realtà. Sappiamo che gli sforzi nella
        comunicazione, se fatti nella giusta direzione, si ripagano ampiamente: speriamo che il nostro contributo
        gratuito te lo dimostri presto.
        Naturalmente, se fossi interessato, saremmo felici di fornirti un video-colloquio di consulenza o un preventivo,
        ma la cosa più importante per noi è che tu ci consideri i tuoi esperti di fiducia nell’ambito della
        comunicazione, ci consigli a coloro che conosci e ci valuti in futuro nel caso decida di fare un investimento in
        questo settore.

    </div>
</td>
{% endblock pay_row_collapsable_answer_4 %}