{% block pay_row_collapsable_answer_3 %}
<td valign="top">
    <div class="wrapper">
        Un video-report è un video della durata di 10-15 minuti in cui uno dei nostri esperti di comunicazione digitale
        prende in esame “dall’esterno” il tuo sito e i tuoi canali social.
        Vi sono raccolte critiche, apprezzamenti e proposte migliorative, con l’intento di fornirti uno strumento per
        correggere ciò che non va dal punto di vista comunicativo e insistere su ciò che funziona. Il video-report
        contiene anche una serie di consigli pratici, che potrai scegliere di attuare tu stesso, in modo da migliorare
        la tua comunicazione digitale.

    </div>
</td>
{% endblock pay_row_collapsable_answer_3 %}