{% block pay_row_collapsable_answer_5 %}
<td valign="top">
    <div class="wrapper">
        Un video-colloquio è una sessione di consulenza in video-chiamata.
        Uno dei nostri esperti, dopo aver analizzato il tuo sito e i tuoi canali social, ti mostrerà i punti di forza e
        di debolezza della tua presenza digitale, proponendoti una serie di opportunità di miglioramento. Vi
        confronterete su come ottenere maggiore successo commerciale dalla comunicazione della tua attività.
    </div>
</td>
{% endblock pay_row_collapsable_answer_5 %}