{% load static %}
{% block popup_pay_tab_checkout %}
<div class="nilo-tab" id="popup_pay_tab_checkout">
    <div class="nilo-popup-title">
        Check-out
        {% include 'home/popup/components/popup_close_btn.html' %}
        <hr>
    </div>
    <div class="nilo-popup-body nilo-flex-vertical">
        <p>Seleziona il metodo di pagamento:</p>
        <div class="nilo-card-2  nilo-flex-vertical">
            <div class="nilo-flex-horizontal">
                {% include 'home/popup/components/popup_card_btn.html' %}
                {% include 'home/popup/components/popup_paypal_btn.html' %}
            </div>
            <div class="nilo-gray-bg p-2 mt-2">
                <img class="nilo-w-25 nilo-mr-044" src="{% static 'home/assets/logo_circuito_pagamento (1).svg' %}">
                <img class="nilo-w-25 nilo-mr-044" src="{% static 'home/assets/logo_circuito_pagamento (2).svg' %}">
                <img class="nilo-w-25 nilo-mr-044" src="{% static 'home/assets/logo_circuito_pagamento (3).svg' %}">
                <img class="nilo-w-25 nilo-mr-044" src="{% static 'home/assets/logo_circuito_pagamento (4).svg' %}">
                <img class="nilo-w-25"             src="{% static 'home/assets/logo_circuito_pagamento (5).svg' %}">
            </div>
            <hr class="mt-2">
            <div class="pt-3 nilo-checkout-info">
                <div class="">
                    <div class="popup_pay_1">
                        Totale: <span class="nilo-checkout-price">29</span><span class="nilo-checkout-price-2">€</span>
                        <div class="nilo-muted">
                            Pagamento unico per la singola prestazione non ripetuto nel tempo.<br>
                        </div>
                        Selezionando "Ottieni report" verrai re-indirizzato alla pagina
                        di pagamento. Ci mobiliteremo subito per analizzare la tua
                        presenza digitale e riceverai il video-report entro 4 giorni
                        lavorativi a partire da oggi.
                    </div>
                    <div class="popup_pay_2">
                        Totale: <span class="nilo-checkout-price">69</span><span class="nilo-checkout-price-2">€</span>
                        <div class="nilo-muted">
                            Pagamento unico per la singola prestazione non ripetuto nel tempo.<br>
                        </div>
                        Selezionando "Ottieni colloquio" verrai re-indirizzato alla pagina
                        di pagamento. Ti ricontatteremo entro due giorni lavorativi
                        per concordare la data dell’incontro; nel frattempo ci
                        mobiliteremo per analizzare la tua presenza digitale.
                    </div>
                </div>
            </div>
        </div>
        <div class="nilo-card-2"></div>
    </div>
    <div class="nilo-popup-footer">
        <div class="nilo-dots nilo-center-horizontally">
            <span class="nilo-dot active"></span>
            <span class="nilo-dot active"></span>
            <span class="nilo-dot active"></span>
        </div>
        <div class="nilo-popup-footer-buttons">
            <hr>
            <div class="nilo-flex-footer-order">
                <button type="button" class="nilo-popup-footer-button nilo-button-muted"
                    data-target="popup_pay_tab_form">Indietro</button>
                <button type="button" class="nilo-popup-footer-button popup_pay_1" onclick="checkout_paypal()">Ottieni
                    report</button>
                <button type="button" class="nilo-popup-footer-button popup_pay_2" onclick="checkout_paypal()">Ottieni
                    colloquio</button>
            </div>
            <!-- <form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" target="_top"
                style="display: none;">
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" style="display: none;">

                <input type="hidden" name="cancel_return" value="https://www.google.it" />
                <input type="hidden" name="amount" value="100.00" />

                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="CST78TAN6SFEE">
                <input type="hidden" name="hosted_button_id" value="E5WNWYNZLK9C6">
                <input type="image" name="submit" id="nilo-paypal-submit">
            </form> -->
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top"
                style="display: none;">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="This value will be override">
                <input type="hidden" name="custom" value="This value will be override">
                <input type="image" name="submit" id="nilo-paypal-submit">
            </form>


        </div>
    </div>
</div>
{% endblock popup_pay_tab_checkout %}