{% load static %}
{% block popup_pay_tab_reject %}
<div class="nilo-tab" id="popup_pay_tab_reject">
    <div class="nilo-popup-title">
        {% include 'home/popup/components/popup_close_btn.html' %}
    </div>
    <div class="nilo-popup-body">
        <div class="nilo-card-2 pr-2 nilo-flex-vertical nilo-flex-vertical-center">
            <div class="nilo-big-thanks">
                <div class="">
                    <p>
                        <strong>Ops!</strong><br>
                        Qualcosa è andato storto. Se hai avuto problemi con il pagamento prova ad effettuare nuovamente la procedura oppure scrivici a <a class="nilo-mail" href="mailto:info@studionilo.it">info@studionilo.it</a><br>
                        <br>
                        Il team di Studionilo
                    </p>
                </div>
            </div>
        </div>
        <div class="nilo-card-2 pl-2 nilo-center-vertically nilo-popup-monkey">
            <!-- <img src="{% static 'home/illustrazioni/fantastico.webp' %}" alt="Fantastico!"> -->
        </div>
    </div>
    <div class="nilo-popup-footer">
        <div class="nilo-popup-footer-buttons">
            <button class="nilo-popup-footer-button" type="button" onclick="close_popup()">Chiudi</button>
        </div>
    </div>
</div>
{% endblock popup_pay_tab_reject %}