{% load static %}
{% block popup_pay_tab_info %}
<div class="nilo-tab active" id="popup_pay_tab_info">
    <div class="nilo-popup-title">
        <div>
            <div class="popup_pay_1"><p>Video-report</p></div>
            <div class="popup_pay_2"><p>Video-colloquio</p></div>
            <div class="popup_pay_3"><p>Piano su misura</p></div>
            {% include 'home/popup/components/popup_close_btn.html' %}
        </div>
        <hr>
    </div>
    <div class="nilo-popup-body">
        <div class="nilo-card-2 pr-2">
            <div class="popup_pay_1">
                Il video-report è uno strumento per aiutarti a sfruttare meglio la comunicazione digitale per la tua
                attività.
                <ul>
                    <li>
                        Uno dei nostri esperti analizzerà il materiale online presente
                        sulla tua azienda, diagnosticando eventuali problematiche e
                        individuando opportunità di miglioramento.
                    </li>
                    <li>
                        Riceverai entro 4 giorni lavorativi un video della durata
                        di 10-15 minuti, in cui saranno raccolte le nostre proposte per
                        migliorare la comunicazione online con i tuoi clienti.
                    </li>
                </ul>
                Non vediamo l’ora di proporti come ottenere più profitto dalla tua presenza digitale!
            </div>
            <div class="popup_pay_2">
                Il video-colloquio è un momento di confronto per aiutarti a sfruttare meglio la comunicazione digitale
                per la tua attività.
                <ul>
                    <li>
                        Per prima cosa uno dei nostri esperti analizzerà il materiale
                        online presente sulla tua azienda
                    </li>
                    <li>
                        Alcuni giorni dopo, ad un orario concordato insieme, terrete una
                        videochiamata della durata di 30-45 minuti, in cui discuterete
                        di come ottenere più profitto dalla tua presenza digitale.
                    </li>
                </ul>
                Non vediamo l’ora di parlare con te della tua presenza digitale!
            </div>
            <div class="popup_pay_3">
                Raccontaci dei tuoi obiettivi comunicativi:
                pianificheremo insieme una modalità di consulenza
                personalizzata basata sulle tue specifiche esigenze.<br>
                <br>
                Ecco alcuni esempi di alcuni dei servizi che offriamo
                all’interno del nostro piano su misura:
                <ul>
                    <li>
                        Workshop in azienda per l’avviamento o la
                        riprogettazione della tua strategia comunicativa.
                    </li>
                    <li>
                        Sessioni periodiche di video-consulenza sulla tua
                        presenza digitale.
                    </li>
                    <li>
                        Report approfonditi sulla qualità della tua presenza
                        digitale e sulle più promettenti opportunità di profitto.
                    </li>
                </ul>
                Non vediamo l’ora di lavorare insieme!
                Scrivici a: nicola@studionilo.it
                <div class="nilo-vertical-spacer"></div>
            </div>
        </div>
        <div class="nilo-card-2 pl-2 nilo-center-vertically nilo-popup-monkey">
            <img src="{% static 'home/scimmia.png' %}" alt="Card image cap">
        </div>
    </div>
    <div class="nilo-popup-footer">
        {% include 'home/popup/components/popup_dots_1.html' %}
        <div class="nilo-popup-footer-buttons">
            <hr>
            <div class="nilo-flex-footer-order">
                <button type="button" class="nilo-popup-footer-button nilo-button-muted" onclick="close_popup()">Torna alla home</button>
                <button class="nilo-popup-footer-button" type="button" data-target="popup_pay_tab_form">Raccontaci di te</button>
            </div>
        </div>
    </div>
</div>
{% endblock popup_pay_tab_info %}