/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
    #x-large {
        display: none;
    }
    #large {
        display: none;
    }
    #medium {
        display: none;
    }
    #small {
        display: none;
    }
    #x-small {
        display: block;
    }
    .nilo-test-size {
        background-color: #00ffea;
    }
    .nilo-card-2 {
        width: 100%;
    }
}