/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {
    .nilo-nav-item {
        display: block;
    }
    .nilo-nav {
        position: fixed;
        background-color: transparent;
        padding-left: 2%;
        padding-right: 2%;
        flex-direction: column;
        width: 15%;
    }
    .nilo-lead-paragraph {
        font-size: 40px;
    }
    .nilo-container {
        margin-left: 15%;
        margin-right: 15%;
    }
    table.nilo-table {
        margin-top: 0%;
        margin-bottom: 0%;
    }
    #nilo-reference {
        width: 40%;
    }
    #x-large {
        display: block;
    }
    #large {
        display: none;
    }
    #medium {
        display: none;
    }
    #small {
        display: none;
    }
    #x-small {
        display: none;
    }
    .nilo-test-size {
        background-color: #ff5100;
    }
    .nilo-popup-monkey {
        display: flex;
    }
    .nilo-card-2 {
        width: 50%;
    }
    .nilo-button-pay-method>img {
        width: 60%;
    }
    .nilo-nav-item {
        margin-top: 0.5em;
    }
    .nilo-nav-item>div {
        margin-right: 0em;
        margin-left: 0em;
    }
}